<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- seo meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil —— Kévin LAVENANT - Photographe de portraits et paysages - Amiens - Lille - Somme - Hauts-de-France</title>
    <meta name="description" content="Photographies de Kévin LAVENANT, amateur passionné. Réalisation de shootings portraits et paysages. Site web pour exposer mes clichés." >
    <meta name="keywords" content="photographe amateur, portraits, photos paysages, Hauts-de-France, France, passionné de photographie, photographie artistique, images de qualité, photographie en plein air, photographie de portrait, photographie de paysage, Hauts-de-France photographe, passion pour la photographie, talent photographique, photographe passionné, shooting photo, artiste de la photographie, clichés uniques, beauté naturelle, instantanés captivants, scènes françaises, photographe amateur France, passionnément photographie, Hauts-de-France paysages, photographe créatif, paysages français, photographie d'extérieur, séances photos, artiste visuel, photos saisissantes, photographe passionné de la nature, portraits artistiques, beauté française, photographe talentueux, photographie authentique, photographie en plein air France.">
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- my style -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

<section id="homepage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                        <!-- ! div to remplace cursor and modify it -->
                        <div class="cursor position-absolute z-3 d-none d-xl-block">
                        </div>
                        <!-- ! First slide, sunset on Normandy ! -->
                        <div class="carousel-item active" data-bs-interval="10000">
                            <!-- * srcset to perform on all screens * -->
                            <picture class="d-block w-100 position-absolute z-0">
                                <source media="(max-width: 768px)" srcset="/public/assets/img/normandie-france-sunset-on-beach-picture-1400-30.jpg">
                                <source media="(max-width: 1400px)" srcset="/public/assets/img/normandie-france-sunset-on-beach-picture-1400-70.jpg">
                                <img class="carousel-img__size" src="/public/assets/img/normandie-france-sunset-on-beach-picture-1920-50.jpg" alt="test">
                            </picture>
                            <!-- overlay -->
                            <div class="carousel-img__filigram position-absolute z-1"></div>
                            <!-- display none on telephone for text elements -->
                            <div class="d-none d-md-block position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div" class="pb-5">
                                                <h1 id="carousel-h1" class="pe-4">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <a href="#" class="px-2">Portfolio</a>
                                                <a href="#" class="px-2">Tirages</a>
                                                <a href="/controllers/contact-ctrl.php" class="px-2">Contact</a>
                                                <a href="#" class="px-2 pe-4">Accès client</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- display yes on telephone for text elements -->
                            <div class="d-block d-md-none position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div">
                                                <h1 id="carousel-h1" class="pe-4 pt-5">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <ul class="pe-5">
                                                    <li class="py-3" ><a href="#">Portfolio</a></li>
                                                    <li class="py-3" ><a href="#">Tirages</a></li>
                                                    <li class="py-3" ><a href="#">Contact</a></li>
                                                    <li class="py-3" ><a href="#">Accès client</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ! Second slide, Melis' portrait ! -->
                        <div class="carousel-item" data-bs-interval="10000">
                            <!-- * srcset to perform on all screens * -->
                            <picture class="d-block w-100 position-absolute z-0">
                                <source media="(max-width: 768px)" srcset="/public/assets/img/portrait-women-laon-france-picture-1200-30.jpg">
                                <source media="(max-width: 1200px)" srcset="/public/assets/img/portrait-women-laon-france-picture-1200.jpg">
                                <source media="(max-width: 1400px)" srcset="/public/assets/img/portrait-women-laon-france-picture-1400-70.jpg">
                                <img class="carousel-img__size" id="meli-pic" src="/public/assets/img/portrait-women-laon-france-picture-1920-50.jpg" alt="test">
                            </picture>
                            <!-- overlay -->
                            <div class="carousel-img__filigram position-absolute z-1"></div>
                            <!-- display none on telephone for text elements -->
                            <div class="d-none d-md-block position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div" class="pb-5">
                                                <h1 id="carousel-h1" class="pe-4">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <a href="#" class="px-2">Portfolio</a>
                                                <a href="#" class="px-2">Tirages</a>
                                                <a href="#" class="px-2">Contact</a>
                                                <a href="#" class="px-2 pe-4">Accès client</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- display yes on telephone for text elements -->
                            <div class="d-block d-md-none position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div">
                                                <h1 id="carousel-h1" class="pe-4 pt-5">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <ul class="pe-5">
                                                    <li class="py-3" ><a href="#">Portfolio</a></li>
                                                    <li class="py-3" ><a href="#">Tirages</a></li>
                                                    <li class="py-3" ><a href="#">Contact</a></li>
                                                    <li class="py-3" ><a href="#">Accès client</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ! Third slide, mountains paysage ! -->
                        <div class="carousel-item" data-bs-interval="10000">
                            <!-- * srcset to perform on all screens * -->
                            <picture class="d-block w-100 position-absolute z-0">
                                <source media="(max-width: 768px)" srcset="/public/assets/img/vercors-france-moutains-winter-snow-picture-1600-30.jpg">
                                <source media="(max-width: 1600px)" srcset="/public/assets/img/vercors-france-moutains-winter-snow-picture-1600-60.jpg">
                                <img class="carousel-img__size" src="/public/assets/img/vercors-france-moutains-winter-snow-picture-1920-50.jpg" alt="test">
                            </picture>
                            <!-- overlay -->
                            <div class="carousel-img__filigram position-absolute z-1"></div>
                            <!-- display none on telephone for text elements -->
                            <div class="d-none d-md-block position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div" class="pb-5">
                                                <h1 id="carousel-h1" class="pe-4">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <a href="#" class="px-2">Portfolio</a>
                                                <a href="#" class="px-2">Tirages</a>
                                                <a href="#" class="px-2">Contact</a>
                                                <a href="#" class="px-2 pe-4">Accès client</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- display yes on telephone for text elements -->
                            <div class="d-block d-md-none position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div">
                                                <h1 id="carousel-h1" class="pe-4 pt-5">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <ul class="pe-5">
                                                    <li class="py-3" ><a href="#">Portfolio</a></li>
                                                    <li class="py-3" ><a href="#">Tirages</a></li>
                                                    <li class="py-3" ><a href="#">Contact</a></li>
                                                    <li class="py-3" ><a href="#">Accès client</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ! End slide, Pau' portait ! -->
                        <div class="carousel-item" data-bs-interval="10000">
                            <!-- * srcset to perform on all screens * -->
                            <picture class="d-block w-100 position-absolute z-0">
                                <source media="(max-width: 768px)" srcset="/public/assets/img/portrait-women-normandie-france-picture-768-30.jpg">
                                <source media="(max-width: 992px)" srcset="/public/assets/img/portrait-women-normandie-france-picture-992.jpg">
                                <source media="(max-width: 1200px)" srcset="/public/assets/img/portrait-women-normandie-france-picture-1200.jpg">
                                <source media="(max-width: 1400px)" srcset="/public/assets/img/portrait-women-normandie-france-picture-1400-70.jpg">
                                <img class="carousel-img__size" id="pau-pic" src="/public/assets/img/portrait-women-normandie-france-picture-1920-50.jpg" alt="test">
                            </picture>
                            <!-- overlay -->
                            <div class="carousel-img__filigram position-absolute z-1"></div>
                            <!-- display none on telephone for text elements-->
                            <div class="d-none d-md-block position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div" class="pb-5">
                                                <h1 id="carousel-h1" class="pe-4">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <a href="#" class="px-2">Portfolio</a>
                                                <a href="#" class="px-2">Tirages</a>
                                                <a href="#" class="px-2">Contact</a>
                                                <a href="#" class="px-2 pe-4">Accès client</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- display yes on telephone for text elements -->
                            <div class="d-block d-md-none position-absolute z-2">
                                <div class="container">
                                    <div class="row align-items-center text-center text-elements__row">
                                        <div class="col" id="text-elements__col">
                                            <div id="text-elements__div">
                                                <h1 id="carousel-h1" class="pe-4 pt-5">Kévin Lavenant</h1>
                                                <h2 id="carousel-h2" class="pe-3 me-1 pb-5">Photographe de portraits et paysages</h2>
                                                <ul class="pe-5">
                                                    <li class="py-3" ><a href="#">Portfolio</a></li>
                                                    <li class="py-3" ><a href="#">Tirages</a></li>
                                                    <li class="py-3" ><a href="#">Contact</a></li>
                                                    <li class="py-3" ><a href="#">Accès client</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/dce61209e7.js" crossorigin="anonymous"></script>
    <!-- bootstrap script CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- my script -->
    <script src="/public/assets/js/script.js"></script>


</body>
</html>