/* ! general */
body::-webkit-scrollbar {
    background-color: #2B3035;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: #2B3035;
}

body::-webkit-scrollbar-thumb {
    background-color: #24282D;
    border-radius: 8px;
    border: 4px solid #2B3035;
}

/* ! header.php */
body{
    background-color: #24282D;
}
#container__sidebar {
    position: fixed;
    height: 100%;
    background: #2B3035;
    min-width: 12vw;
}
.sidebar__nav {
    list-style: none;
}
.sidebar__nav li {
    line-height: 40px;
}
.sidebar__nav li a {
    display: block;
    text-decoration: none;
    color: #ccc;
}
.sidebar__nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);

}
.sidebar__nav--tabs:hover{
    padding-left: 3px !important;
}
.sidebar__nav--title {
    font-size: 1.5em;
}
.sidebar__nav > .sidebar__nav--title a:hover {
    color: #fff;
    background: none;
}
hr {
    border-top: 1px solid #ccc;
    opacity: 1;
}
.btn__home{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* ! home.php */
h1, p, th, .form__h1, td, .fa-solid, .card-header, label, .fa-regular{
    color: #fff;
}

/* ! list galleries */
.form__h1{
    font-size: 1em;
}
#container__creatList, #container__readList{
    display: flex;
    justify-content: end;
}
.form__btn{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card{
    background-color: rgba(255,255,255,0) !important;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card__list--galleries, .card__list--pictures, .card__list--comments{
    min-width: 60vw !important;
}
.list-group-item{
    min-height: 40px; /* pour éviter les bugs si le nom renseigné est vide */
    position: relative;
    padding-left: 0px;
}
.fa__tooltip:hover{
    /* color: #999; */
    scale: 1.2;
}
table{
    width: 100%;
}
td{
    border: 1px solid #55595C;
    padding: 7px 0px;
}
th{
    border-top: none !important;
    border: 2px solid #ECEEEF;
    padding-bottom: 5px;
    font-size: 0.92em;
}
th, td{
    border-left: none;
    border-right: none;
    text-transform: lowercase;
}
th::first-letter{
    text-transform: capitalize;
}
.listVehicles__pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* ! add galleries */
.container__form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__add{
    width: 35vw;
}

input::placeholder{
    font-style: italic;
    font-size: 0.9em;
}
.form__inputs{
    width: 100%;
    height: 35px;
}

/* ! archive galleries */
.fa-trash{
    cursor: pointer;
}
.text-warning{
    /* text-decoration: underline; */
}

/* ! add pictures */
#isSelection{
    max-width: 13%;
}

/* ! list pictures */
.dashboard__imgRsz{
    height: 60px;
    width: 60px;
    object-fit: cover;
}
.dashboard__descriptionDtls{
    /* max-width: 30px; */
    /* background-color: red; */
    font-style: italic;
    text-transform: lowercase;
    color: #fff;
}
.dashboard__search--container{
    width: 100%;
    display: flex;
    justify-content: end;
}
.dashboard__search--offContainer{
    max-width: 26%;
}
.dashboard__search--labelInput{
    max-width: 100%;
    display: flex;
    height: 35px;
}
.dashboard__small--search{
    color: #fff;
}
.page-link{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.pictureList__modalImg{
    max-width: 100%;
}
@media (min-width: 1900px) {
    .card__list--pictures, .dashboard__colBtns--pictures, .card__list--comments, .dashboard__colBtns--comments{
        margin: 0px 10vw 0px 0px;
    }
}



/* ! list comments */
.dashboard__commentsBdg{
    color: black !important;
    text-transform: uppercase;
}
