/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO PORTRAITS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.fa-arrow-left, .fa-arrow-right{
    font-size: 5vw;
}
.paysages__h3{
    font-family: 'Allura', sans-serif;
    font-size: 7vw;
}
#section__paysages{
    min-height: 90vh;
}
article{
    position: relative; /* to have parents under other parents */
}
.modal__btn{
    height: 100% !important;
    width: 100% !important;
    opacity: 0;
    position: absolute; /* par rapport à divchil qui est relative */
    z-index: 999;
}
.btn-close{
    background-color: rgba(0, 0, 0, 0) !important;
}
.modal-content {
    min-width: 93vw;
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    border: none;
    height: 85vh;
}
@media (max-width: 768px) {
    .modal {
        padding-top: 60px;
    }
    .carousel-control-next, .carousel-control-prev{
        position: absolute;
        top: 95% !important;
        transform: translateY(-50%);
    }
    .carousel-control-prev{
        width: 120px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .modal {
        padding-top: 100px;
    }
    .carousel-control-prev{
        width: 120px !important;
        padding: 0px 80px 0px 0px !important;
    }
    .carousel-control-next{
        padding: 0px 0px 0px 80px !important;
    }
}
.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    box-shadow: rgba(0, 0, 0, 0.5) 0px 22px 70px 4px;
}
.carousel, .carousel-inner, .carousel-item{
    height: 100%;
    max-width: 100%;
}
.carousel-control-next, .carousel-control-prev{
    height: 0% !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev{
    padding: 0px 145px 0px 0px !important;
}
.carousel__img{
    max-height: 90%;
    max-width: 90%;
    object-fit: cover !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 70px 4px;
}
.modal__close{
    font-size: 2rem;
    position: absolute;
    top: -6px;
    right: -50px;
    color: #e6e9ea;
    opacity: 0.5;
    cursor: pointer;
    padding: 25px 77px 0px 0px !important;
}
.modal__close:hover{
    color: #fff;
    opacity: 1;
}
.parent[data-status="inactive"]{
    transform: translateX(-100%); /* to place under parents in the left of the page */
}
.parent[data-status="active"]{
    /* transform: translateX(0%); */
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr;
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 90vh;

    position: absolute;
    width: 100%;
    /* ? delete this ? : */
    /* left: 0px; 
    top: 0px; */
    /* transition: transform 400ms ease; */
}
.div1 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #5D491E;
    /* ! for div1 children : */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding: 5px;
}
.carousel__img--desktop{
    object-fit: cover;
    /* max-height: 100%;
    max-width: 100%; */
    height: 100%;
    width: 100%;
    position: absolute; /* par rapport à divchil qui est relative */
}
.carousel__img--desktop--adapt{
    /* max-height: 100%; */
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#carousel__img--desktop--adapt--escaliers, #carousel__img--desktop--adapt--door{
    object-position: 50% 5%;
}
#carousel__img--desktop--adapt--melibnw, #carousel__img--desktop--adapt--road{
    object-position: 50% 23%;
}

    .divchild{
        background-size: cover;
        background-position: center;
        object-position: center;
        position: relative;
        display: flex;
    }
    .divchild1{
        grid-area: 1 / 3 / 3 / 5; /* définit simultanément grid-row-start, grid-column-start, grid-row-end, et grid-column-end */
    } 
    .divchild2{
        grid-area: 1 / 5 / 4 / 7;
    }
    .divchild3{
        grid-area: 1 / 1 / 4 / 3;
    }
    .divchild4{
        grid-area: 3 / 3 / 6 / 5;
    }
    .divchild5{
        grid-area: 4 / 5 / 6 / 7;
    }
    .divchild6{
        grid-area: 4 / 1 / 6 / 3;
    }
    .divchild1-1 {
        grid-area: 1 / 1 / 3 / 4;
        background-color: slategrey;
    }
    
    .divchild2-1 {
        grid-area: 1 / 4 / 3 / 7;
        background-color: black;
    }
    
    .divchild3-1 {
        grid-area: 3 / 2 / 9 / 4;
        background-color: brown;
    }
    
    .divchild4-1 {
        grid-area: 3 / 4 / 9 / 6;
        background-color: darkorange;
    }
    
    .divchild5-1 {
        grid-area: 3 / 6 / 9 / 7;
        background-color: aqua;
    }
    
    .divchild6-1 {
        grid-area: 3 / 1 / 9 / 2;
        background-color: pink;
    }
    .divchild1-2{
        grid-area: 4 / 3 / 6 / 5;
        background-color: aqua;
    }
    .divchild2-2{
        grid-area: 1 / 5 / 3 / 7;
        background-color: #295E46;
    }
    .divchild3-2{
        grid-area: 1 / 1 / 4 / 3;
        background-color: red;
    }
    .divchild4-2{
        grid-area: 1 / 3 / 4 / 5;
        background-color: thistle;
    }
    .divchild5-2{
        grid-area: 3 / 5 / 6 / 7;
        background-color: yellow;
    }
    .divchild6-2{
        grid-area: 4 / 1 / 6 / 3;
        background-color: sienna;
    }
    .divchild1-3{
        grid-area: 4 / 1 / 6 / 4;
        background-color: violet;
    }
    .divchild2-3{
        grid-area: 1 / 5 / 4 / 7;
        background-color: blue;
    }
    .divchild3-3{
        grid-area: 1 / 3 / 4 / 5;
        background-color: blanchedalmond;
    }
    .divchild4-3{
        grid-area: 1 / 1 / 3 / 3;
        background-color: maroon;
    }
    .divchild5-3{
        grid-area: 3 / 1 / 3 / 3;
        background-color: coral;
    }
    .divchild6-3{
        grid-area: 4 / 4 / 6 / 7;
        background-color: yellow;
    }
    .divchild1-4{
        grid-area: 1 / 1 / 3 / 4;
        background-color: #2A5D2E;
    }
    .divchild2-4{
        grid-area: 1 / 4 / 3 / 5;
        background-color: sandybrown;
    }
    .divchild3-4{
        grid-area: 3 / 1 / 6 / 3;
        background-color: slateblue;
    }
    .divchild4-4{
        grid-area: 3 / 3 / 6 / 5;
        background-color: slategray;
    }
    .divchild5-4{
        grid-area: 1 / 5 / 3 / 7;
        background-color: darkblue;
    }
    .divchild6-4{
        grid-area: 3 / 5 / 6 / 7;
        background-color: firebrick;
    }
    .divchild1-5{
        grid-area: 1 / 1 / 3 / 3;
        background-color: hotpink;
    }
    .divchild2-5{
        grid-area: 1 / 5 / 5 / 7;
        background-color: khaki;
    }
    .divchild3-5{
        grid-area: 3 / 1 / 6 / 3;
        background-color: navy;
    }
    .divchild4-5{
        grid-area: 1 / 3 / 4 / 5;
        background-color: firebrick;
    }
    .divchild5-5{
        grid-area: 5 / 5 / 5 / 7;
        background-color: black;
    }
    .divchild6-5{
        grid-area: 4 / 3 / 6 / 5;
        background-color: gray;
    }
.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #606D1C;
}
.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #406C1D;
}
.div4 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #2A5D2E;
}
.div5 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #295E46;
}



/* ! adapt divchildren to mobile */
@media (max-width: 768px) { /* until ipad mini */
    /* .pop-up{
        top: 20%;
        width: 99vw;
    } */
    .carousel__btn--left, .carousel__btn--right{
        height: 100% !important;
        width: 90% !important;
    }
    .parent { /* modify rows */ 
        display: grid;
        grid-template-columns: repeat(2, 1fr) 4fr !important;
        grid-template-rows: 8fr 1fr !important;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: 90vh;
    }
    .div1 {
        /* to stack photos one below others (without specific positions) */
        grid-template-columns: 1fr; 
        grid-template-rows: auto; /* to reset automatic lines */
    }
        .divchild{
            grid-area: auto / auto / auto / auto;
        }
        .divchild1{
        }
        .divchild2{
        }
        .divchild3{
        }
        .divchild4{
        }
        .divchild5{
        }
        .divchild6{
        }
        .divchild1-1{
        }
        .divchild2-1{
        }
        .divchild3-1{
        }
        .divchild4-1{
        }
        .divchild5-1{
        }
        .divchild6-1{
        }
        .divchild1-2{
        }
        .divchild2-2{
        }
        .divchild3-2{
        }
        .divchild4-2{
        }
        .divchild5-2{
        }
        .divchild6-2{
        }
        .divchild1-3{
        }
        .divchild2-3{
        }
        .divchild3-3{
        }
        .divchild4-3{
        }
        .divchild5-3{
        }
        .divchild6-3{
        }
        .divchild1-4{
        }
        .divchild2-4{
        }
        .divchild3-4{
        }
        .divchild4-4{
        }
        .divchild5-4{
        }
        .divchild6-4{
        }
        .divchild1-5{
        }
        .divchild2-5{
        }
        .divchild3-5{
        }
        .divchild4-5{
        }
        .divchild5-5{
        }
        .divchild6-5{
        }
}