/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO PORTRAITS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
body::-webkit-scrollbar {
    background-color: #2B3035;
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: #2B3035;
}
body::-webkit-scrollbar-thumb {
    background-color: #24282D;
    border-radius: 8px;
    border: 2px solid #2B3035;
}

.bi-arrow-left, .bi-arrow-right {
    font-size: 5vw;
}

.carousel__btn--left, .carousel__btn--right {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.paysages__h3 {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    font-size: 4vw;
    color: #fff;
    text-transform: uppercase;
}
.div5{
    display: flex;
    align-items: end;
    justify-content: center;
}
.container__portraits__citation{
    width: 70%;
}
.portraits__citation{
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}
.portraits__citation--text{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    line-height: 28px;
}
.portraits__citation--author{
    font-family: 'Allura', sans-serif;
    font-size: 3vw;
}
#section__paysages {
    min-height: 90vh;
    /* background-image: 
    radial-gradient(circle at center center, rgba(255,255,255,0.1), rgba(255,255,255,0.4)),
    repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),
    repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),
    linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));*/
    background-color: #24282d;
}

article {
    position: relative;
    /* to have parents under other parents */
}

.modal__btn {
    height: 100% !important;
    width: 100% !important;
    opacity: 0;
    position: absolute;
    /* par rapport à divchil qui est relative */
    z-index: 999;
}

.btn-close {
    background-color: rgba(0, 0, 0, 0) !important;
}

.modal-content {
    min-width: 93vw;
    background-image: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 1px, transparent 1px, transparent 4px), repeating-linear-gradient(45deg, rgb(56, 56, 56) 0px, rgb(56, 56, 56) 5px, transparent 5px, transparent 6px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
    border: none;
    height: 85vh;
}

@media (max-width: 768px) {
    .modal {
        padding-top: 60px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 95% !important;
        transform: translateY(-50%);
    }

    .carousel-control-prev {
        width: 120px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .modal {
        padding-top: 100px;
    }

    .carousel-control-prev {
        width: 120px !important;
        padding: 0px 80px 0px 0px !important;
    }

    .carousel-control-next {
        padding: 0px 0px 0px 80px !important;
    }
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 1px, transparent 1px, transparent 4px), repeating-linear-gradient(45deg, rgb(56, 56, 56) 0px, rgb(56, 56, 56) 5px, transparent 5px, transparent 6px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
    box-shadow: rgba(0, 0, 0, 0.5) 0px 22px 70px 4px;
}

.carousel, .carousel-inner, .carousel-item {
    height: 100%;
    max-width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    height: 0% !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    padding: 0px 145px 0px 0px !important;
}

.carousel__img {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 70px 4px;
}

.modal__close {
    font-size: 2rem;
    position: absolute;
    top: -6px;
    right: -50px;
    color: #e6e9ea;
    opacity: 0.5;
    cursor: pointer;
    padding: 25px 77px 0px 0px !important;
}

.modal__close:hover {
    color: #fff;
    opacity: 1;
}

.parent[data-status="inactive"] {
    transform: translateX(-100%);
    /* to place under parents in the left of the page */
}

.parent[data-status="active"] {
    /* transform: translateX(0%); */
}

.parent {
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 90vh;

    position: absolute;
    width: 100%;
    /* ? delete this ? : */
    /* transition: transform 400ms ease; */
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #2B3035;
    /* ! for div1 children : */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: #2B3035;
    /* padding: 5px; */
}

.carousel__img--desktop {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    /* par rapport à divchil qui est relative */
}

.carousel__img--desktop--adapt {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carousel__img--desktop--adapt--escaliers, #carousel__img--desktop--adapt--door { object-position: 50% 5%; } #carousel__img--desktop--adapt--melibnw, #carousel__img--desktop--adapt--road { object-position: 50% 23%; } #carousel__img--desktop--adapt--tag { object-position: 50% 40%; } #carousel__img--desktop--adapt--ballon { object-position: 50% 63%; } #carousel__img--desktop--adapt--ombre, #carousel__img--desktop--adapt--boule, #carousel__img--desktop--adapt-light { object-position: 50% 35%; } #carousel__img--desktop--adapt--gare, #carousel__img--desktop--adapt--orange { object-position: 50% 47%; } #carousel__img--desktop--adapt--flowers, #carousel__img--desktop--adapt--trulli, #carousel__img--desktop--adapt--dog { object-position: 50% 30%; } #carousel__img--desktop--adapt--lavande { object-position: 50% 60%; }

.divchild {
    background-size: cover;
    background-position: center;
    object-position: center;
    position: relative;
    display: flex;
}
/* définit simultanément grid-row-start, grid-column-start, grid-row-end, et grid-column-end */
.divchild1 { grid-area: 1 / 3 / 3 / 5; } .divchild2 { grid-area: 1 / 5 / 4 / 7; } .divchild3 { grid-area: 1 / 1 / 4 / 3; } .divchild4 { grid-area: 3 / 3 / 6 / 5; } .divchild5 { grid-area: 4 / 5 / 6 / 7; } .divchild6 { grid-area: 4 / 1 / 6 / 3; } .divchild1-1 { grid-area: 1 / 1 / 3 / 4; } .divchild2-1 { grid-area: 1 / 4 / 3 / 7; } .divchild3-1 { grid-area: 3 / 2 / 9 / 4; } .divchild4-1 { grid-area: 3 / 4 / 9 / 6; } .divchild5-1 { grid-area: 3 / 6 / 9 / 7; } .divchild6-1 { grid-area: 3 / 1 / 9 / 2; } .divchild1-2 { grid-area: 4 / 3 / 6 / 5; } .divchild2-2 { grid-area: 1 / 5 / 3 / 7; } .divchild3-2 { grid-area: 1 / 1 / 4 / 3; } .divchild4-2 { grid-area: 1 / 3 / 4 / 5; } .divchild5-2 { grid-area: 3 / 5 / 6 / 7; } .divchild6-2 { grid-area: 4 / 1 / 6 / 3; } .divchild1-3 { grid-area: 4 / 1 / 6 / 4; } .divchild2-3 { grid-area: 1 / 5 / 4 / 7; } .divchild3-3 { grid-area: 1 / 3 / 4 / 5; } .divchild4-3 { grid-area: 1 / 1 / 3 / 3; } .divchild5-3 { grid-area: 3 / 1 / 3 / 3; } .divchild6-3 { grid-area: 4 / 4 / 6 / 7; }

.div2 {
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid #2B3035;
}

.div3 {
    grid-area: 2 / 3 / 3 / 4;
    border: 1px solid #2B3035;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid #2B3035;
}

.div5 {
    grid-area: 1 / 2 / 2 / 4;
    border: 1px solid #2B3035;
}



/* ! adapt divchildren to mobile */
@media (max-width: 768px) {

    /* until ipad mini */
    /* .pop-up{
        top: 20%;
        width: 99vw;
    } */
    .carousel__btn--left, .carousel__btn--right {
        height: 100% !important;
        width: 90% !important;
    }

    .parent {
        /* modify rows */
        display: grid;
        grid-template-columns: 4fr repeat(2, 1fr) !important;
        grid-template-rows: 8fr 1fr !important;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: 90vh;
    }

    .div1 {
        /* to stack photos one below others (without specific positions) */
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /* to reset automatic lines */
    }

    .divchild {
        grid-area: auto / auto / auto / auto;
    }
}