/* !!!!!!!!!!!! index !!!!!!!!!!!! */

/* ! modify cursor ! */
.cursor{
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    border-radius: 50%; /* to have a circle */
    /* ? to hide cursor into the div : */
    /* cursor: none;  */
    /* mix-blend-mode: difference;
    background-color: rgba(15, 15, 15, 0); */
    /* opacity: 0.5; */
    /* ? to continue using */
    pointer-events: none;
}
/* ? to hide cursor into all the page, even if the mouse moves a lot : */
body{
    cursor: none;
    height: 100vh;
}
/* ? design cursors's point in middle ///// SUPPRIMER ??? */
.cursor::before{
    content: ""; /* to initiaze pseudo-element */
    /* place the point */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* design the point */
    height: 5px;
    width: 5px;
    background-color: #FFF;
    border-radius: 50%;
}
/* ! animate cursor on click ! */
.expand{ /* to get the class on JS */
    animation: anim 0.5s;
    background: #FFF;
}
@keyframes anim {
    0%{ /* when animation begins */
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity: 0; /* to disappear at the end */
    }
}

/* ! global settings ! */
h1, li a, a{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #FFF !important;
    text-transform: uppercase;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* ! carousel ! */
.carousel-item{
    height: 100vh;
    width: 100vw;
}
.carousel-img__size{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
#meli-pic{
    object-position: top;
}
#pau-pic{
    object-position: 50% 39%;
}
.carousel-img__filigram{
    background-color: rgba(30, 30, 30, 0.9);
    height: 100%;
    width: 100%;
}

/* ! text elements ! */
#text-elements__row{
    height: 100vh;
}
#text-elements__col{
    width: 90vw;
}
#text-elements__div{
    width: 100vw;
}
#carousel-h1{
    font-size: 58px !important;
}
#carousel-h2, a{
    font-size: 20px;
}
/* ! modify font-size with media queries ! */
@media (min-width: 768px) and (max-width: 1200px){
    #carousel-h1{
        font-size: 74px !important;
    }
    #carousel-h2, a{
        font-size: 22px;
    }
}
@media (min-width: 1201px){
    #carousel-h1{
        font-size: 90px !important;
    }
    #carousel-h2{
        font-size: 26px;
    }
    a{
        font-size: 20px;
    }
}