/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HOMEPAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ! Loading animation */

#container__loading {
    height: 100vh;
    width: 100vw;
    background-color: #24282D;
    position: absolute;
    z-index: 5;
    /* cursor: none !important; */
}

.container__loading--animation {
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -58%)
}

.loadingLogo {
    height: 0px;
    width: 200px;
    position: absolute;
    left: -25%;
    bottom: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__loadingImg > img {
    object-fit: cover;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.container__bgTransition{
    background-color: #2B3035;
    height: 0px;
    width: 100%;
    position: absolute;
}


@media (max-width: 768px) {
    .container__loading--animation {
        height: 300px;
        width: 300px;
        transform: translate(-45%, -45%);
    }
    .loadingLogo {
        height: 0px;
        width: 200px;
        left: -20%;
        bottom: -20%;
    }
    .container__bgTransition{
        background-color: #2B3035;
        height: 0px;
        width: 100%;
        position: absolute;
        top: -100px;
    }
}


/* ! modify cursor ! */
.cursor {
    /* home cursor */
    /* opacity: 0; */
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* to have a circle */
    /* ? to continue using */
    pointer-events: none;
    /* * overlay */
    -webkit-box-shadow: 0px 0px 0px 100vw rgba(9, 10, 11, 0.9);
    -moz-box-shadow: 0px 0px 0px 100vw rgba(9, 10, 11, 0.9);
    box-shadow: 0px 0px 0px 100vw rgba(9, 10, 11, 0.9);
}

/* ? design cursors's point in middle */
.cursor::before {
    content: "";
    /* to initiaze pseudo-element */
    position: absolute;
    /* place the point */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    /* design the point */
    width: 4px;
    background-color: #FFF;
    /* * delete this comment to reappear the point * */
    border-radius: 50%;
}



/* ! to hide cursor into all the page : */
#homepage {
    cursor: none;
}



/* ! overlay until xl breakpoint */
.overlay {
    height: 100px;
    background-color: rgba(9, 10, 11, 0.5);
}

/* ! global settings ! */
h1,
li a,
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #FFF !important;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ! carousel ! */
.carousel-item {
    height: 100vh;
    width: 100vw;
}

.carousel-img__size {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#meli-pic {
    object-position: top;
}

#pau-pic {
    object-position: 50% 39%;
}

.carousel-img__filigram {
    background-color: rgba(30, 30, 30, 0.5);
    height: 100%;
    width: 100%;
}

@media (min-width: 1200px) {

    /* to hide overlay on desktop and make the animation functional */
    .carousel-img__filigram {
        display: none;
    }
}

@media (max-width: 1199px) {

    /* to be sure to haven't bug with the cursor on mobile or tablet screens */
    .cursor {
        display: none;
    }
}

/* ! text elements ! */
.text-elements__row {
    height: 100vh;
}

.text-elements__col {
    width: 90vw;
}

.text-elements__div {
    width: 100vw;
}

.carousel-h1 {
    font-size: 58px !important;
}

.carousel-h2,
a {
    font-size: 20px;
}

.dropdown-menu--home {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
}

.dropdown-item--home {
    padding: 0px 10px 0px 0px !important;
    font-weight: bolder;
    mix-blend-mode:hard-light;
}

.dropdown-item--home:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* ! modify font-size with media queries ! */
@media (min-width: 768px) and (max-width: 1200px) {
    .carousel-h1 {
        font-size: 74px !important;
    }

    .carousel-h2,
    a {
        font-size: 22px;
    }
}

@media (min-width: 1201px) {
    .carousel-h1 {
        font-size: 90px !important;
    }

    .carousel-h2 {
        font-size: 26px;
    }

    a {
        font-size: 20px;
    }
}





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ! navbar */
.navbar {
    height: 12vh;
}

.navbar img {
    height: 5rem;
}

.fa-instagram {
    color: #FFF;
    height: 30px;
}

.dropdown-item {
    font-size: 1em;
}

@media (min-width: 992px) {
    #navbarNavDropdown {
        display: flex;
        justify-content: center;
    }

    #navbarNavDropdown i {
        /* logo insta */
        padding: 0px 150px 0px 30px;
    }
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! CONTACT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

body::-webkit-scrollbar {
    background-color: #2B3035;
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: #2B3035;
}
body::-webkit-scrollbar-thumb {
    background-color: #24282D;
    border-radius: 8px;
    border: 4px solid #2B3035;
}
/* ! form */
.container__form{
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container__form--ball{
    width: 100%;
}
form{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center;
    background-color: red; */
}
.form__container--left, #form__container--right {
    /* background-image: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 1px, transparent 1px, transparent 4px), repeating-linear-gradient(45deg, rgb(56, 56, 56) 0px, rgb(56, 56, 56) 5px, transparent 5px, transparent 6px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33)); */
    background-color: #24282D;
    height: 88vh;
}
#form__container--right{
    /* height: 88vh; */
    /* background-color: #24282D; */
    /* display: flex;
    justify-content: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#form__overlay {
    /* height: 100%; */
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
}

#form__overlay p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
}

#form__overlay p span {
    font-weight: 700;
}

#form__pic {
    background-image: url(/public/assets/img/cv-photo-profil-650-100.jpg);
    background-size: cover;
    height: 60vmin;
    width: 60vmin;
    border-radius: 50%;
}

#container__name {
    display: flex;
    width: 100vw !important;
}

#span__captcha,
#span__lastname {
    padding: 12px 10px;
}

#span__firstname {
    padding: 12px 13px;
}

legend {
    font-family: Poppins;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    /* background-color: blue; */
    /* max-height: 85px; */
}

#text {
    height: 100px;
}

#captcha,
#text,
#email,
#lastname,
#firstname,
#mobile {
    color: #fff !important;
    border-radius: 0%;
    background-color: #333740;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.085) 0px -11.5px 12.5px 0px inset, rgba(0, 0, 0, 0.075) 0px -18px 15px 0px inset, rgba(0, 0, 0, 0.05) 0px -39.5px 20px 0px inset, rgba(0, 0, 0, 0.03) 0px 1px 0.5px, rgba(0, 0, 0, 0.045) 0px 2px 1px, rgba(0, 0, 0, 0.045) 0px 4px 2px, rgba(0, 0, 0, 0.045) 0px 8px 4px, rgba(0, 0, 0, 0.045) 0px 16px 8px;
    box-sizing: border-box;
}
#contact__btn:last-child {
    height: 100px;
    width: 120px;
    background-color: #333740 !important;
    font-family: 'Montserrat', sans-serif !important;
    border: none;
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.input-group-text{
    background: linear-gradient(to bottom, #f5f5f5 0%, #e0e0e0 50%, #f5f5f5 100%);
    box-shadow: rgba(0, 0, 0, 0.045) 0px -11.5px 12.5px 0px inset, rgba(0, 0, 0, 0.04) 0px -18px 15px 0px inset, rgba(0, 0, 0, 0.03) 0px -39.5px 20px 0px inset, rgba(0, 0, 0, 0.015) 0px 1px 0.5px, rgba(0, 0, 0, 0.0225) 0px 2px 1px, rgba(0, 0, 0, 0.0225) 0px 4px 2px, rgba(0, 0, 0, 0.0225) 0px 8px 4px, rgba(0, 0, 0, 0.0225) 0px 16px 8px;
}
input::placeholder,
textarea::placeholder {
    font-family: 'Montserrat', sans-serif !important;
    color: #D5D5D5 !important;
    font-size: 0.9em;
}

small,
.text-success {
    font-family: 'Montserrat', sans-serif !important;
}
@media (max-width: 280px) {
    #form__pic {
        max-height: 175px !important;
        max-width: 175px !important;
    } 
    #form__overlay p {
        font-size: 14px !important;
    }
}
@media (max-width: 375px) {
    #form__pic {
        max-height: 250px;
        max-width: 250px;
    } 
    #form__container--right{
        height: 100vh;
    }
}
@media (max-width: 768px) {
    .navbar{
        height: 13vh;
    }
    .form__container--left{
        max-height: 65vh;
    }
    #form__overlay p {
        font-size: 16px;
    }
    /* #form__container--right{
        height: 100vh;
    }
    #container__name {
        width: 50vw;
    }


    legend {
        font-size: 20px !important;
    }

    #form__pic {
        max-height: 250px;
        max-width: 250px;
    } */
}
@media (min-width: 768px) and (max-width: 820px) {
    #form__pic {
        max-height: 400px !important;
        max-width: 400px !important;
    } 
}
@media (min-width: 820px) and (max-width: 1024px) {
    #form__overlay p {
        font-size: 24px;
    }
    legend {
        font-size: 28px !important;
    }
    #form__pic {
        max-height: 500px;
        max-width: 500px;
    } 
    .form__container--left{
        max-height: 60vh;
    }
    #form__container--right{
        height: 70vh;
    }
    input::placeholder,
    textarea::placeholder,
    small {
        font-size: 18px;
    }

    button:last-child {
        font-size: 20px;
    }
}





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ACCES CLIENT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.accesclient__img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.accesclient__a {
    color: #212529 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    /* text-transform: none; */
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ACCES CLIENT FORM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.accesclientform__bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accesclientform__bg input {
    border-radius: 0% !important;
}

#accesclientform__bg--anais {
    background-image: url("/public/assets/img/anais-picture-portrait-women-maroc-beach-1920-45.jpg");
}

/* #accesclientform__bg--pauline{
    background-image: url("/public/assets/img/pauline-picture-portrait-women-france-montains-snow-1920-30.jpg");
}
#accesclientform__bg--jad{
    background-image: url("/public/assets/img/jad-picture-portrait-men-france-sunset-streetstyle-1920-30.jpg");
}
#accesclientform__bg--melissa{
    background-image: url("/public/assets/img/melissa-picture-portrait-women-italie-panorama-1920-30.jpg");
}
#accesclientform__bg--romain{
    background-image: url("/public/assets/img/romain-picture-portrait-men-france-audi-voiture-1920-40.jpg");
}
#accesclientform__bg--antoine{
    background-image: url("/public/assets/img/antoine-picture-portrait-men-france-architecture-streetstyle-1920-30.jpg");
} */
.accesclientform__overlay {
    height: 100%;
    width: 100vw;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesclientform__h1 {
    font-family: Poppins;
    font-size: 36px;
    color: #2B3035 !important;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

@media (max-width: 429px) {
    #accesclientform__h1--antoine {
        font-size: 30px !important;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SIGNUP FORM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#signup__container {
    max-width: 61vw;
}

@media (max-width: 1024px) {
    #signup__container {
        max-width: 100vw;
    }
}

.span__signup__pwd--eye {
    background-color: #FFF;
    cursor: pointer;
}

.span__password {
    padding: 12px 13px;
    border-radius: 0% !important;
}

.fa-eye {
    color: #4F8465;
}

.fa-eye-slash {
    color: #E84555;
}

#signup__container input {
    border-radius: 0% !important;
}